/*=============== Common CSS =======================*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit';
}

body {
    background: #f1f3f6;
    font-family: 'Outfit';
}

.innovate-main-container {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .innovate-main-container {
        width: 100%;
        max-width: 100%;
    }
}

.innovate-navbar__search-bar {
    width: 720px;
    max-width: calc(100% - 250px);
}

.innovate-scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background: transparent;
}


.innovate-hero__product-flex {
    background: #fff;
    display: flex;
    margin-top: 3px;
}

@media screen and (max-width: 768px) {

    .innovate-left-product__parent {
        overflow: unset;
        height: auto;
    }

    .innovate-left-product__flex {
        height: unset;
        min-height: unset;
    }
}

/*=============== Product section Start =======================*/

.custom-width-full-240 {
    width: calc(100% - 240px);
}
 

.innovate-sticky-footer {
    box-shadow: 0 0 0 #fff, 0 15px 30px #999;
}



/* ==================== Product page Shop section ========================= */

.innovate-product-page-shop-main-parent {
    margin-top: 64px;
}

.innovate-product-page-shop-left {
    background: #fff;
    width: 240px;
}

.innovate-product-page-shop-detailes {
    width: calc(100% - 250px);
}

.innovate-product-page-shop-main-parent {
    display: flex;
    justify-content: space-between;
}

.custom-info-width {
    width: calc(60% - 20px);
}

.custom-info-price-width {
    width: calc(33.33% - 8px);
}

.innovate-product-page-shop-parent {
    width: calc(100% - 310px);
}

.innovate-product-page-shop-detailes-title {
    width: 100%;
}

.innovate-product-page-shop-detailes__img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.innovate-product-page-shop-detailes__info-ranges {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.innovate-product-page-shop-detailes__info-table thead th {
    width: 50%;
}


.innovate-product-page-shop-detailes__info-shipping-details {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

 .innovate-tab-menu ul li button.active-a {
    border-bottom: 4px solid #F15B29;
}

 .tab {
    display: none;
}

 .tab-active {
    display: block;
}

.innovate-youmaylike-product-parent {
    height: 200px;
    min-height: auto;
}

@media screen and (max-width: 1400px) {
    .innovate-product-page-shop-detailes__img,
    .innovate-product-page-shop-detailes__info {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .innovate-product-page-shop-main-parent {
        flex-wrap: wrap;
    }

    .innovate-youmaylike-product-parent {
        height: unset;
        min-height: unset;
    }
}

@media screen and (max-width: 768px) {
    
    .innovate-product-page-shop-left {
        order: 2;
        margin-top: 30px;
    }
    
    .innovate-product-page-shop-left,
    .innovate-product-page-shop-detailes {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .innovate-product-page-shop-detailes__info-btn-parent .info-btn-add-cart, 
    .innovate-product-page-shop-detailes__info-btn-parent .info-btn-buy-now {
        flex: unset;
        margin-left: unset;
    }
}


.innovate-cart-page {
    margin-top: 64px;
}

.summary-item-parent-custom-width {
    width: calc(60% - 10px);
}

/* ==================== Checkout page section ========================= */


.innovate-checkout-form-item {
    width: calc(50% - 7.5px);
}

.innovate-cart-page__summary-cart-content .price-bold {
    font-weight: 600;
}