/*=============== Common CSS =======================*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Outfit';
}

body {
    font-family: 'Outfit';
    background: #f1f3f6;;
}

.innovate-main-container {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.custom-scrollbar-height {
    height: 200px;
    min-height: auto;
}

.innovate-navbar__search-bar {
    width: 720px;
    max-width: calc(100% - 250px);
}

.innovate-hero-main-content {
    width: calc(100% - 250px);
}

.innovate-scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-thumb {
    background: transparent;
}

.innovate-scrollbar-hidden::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.innovate-hero__product-flex {
    background: #fff;
    display: flex;
    margin-top: 3px;
}

.custom-width-full-240 {
    width: calc(100% - 240px);
}
 

.innovate-sticky-footer {
    box-shadow: 0 0 0 #fff, 0 15px 30px #999;
}

.innovate-product-page-shop-detailes {
    width: calc(100% - 250px);
}

.custom-info-width {
    width: calc(60% - 20px);
}

.custom-info-price-width {
    width: calc(33.33% - 8px);
}

.innovate-product-page-shop-parent {
    width: calc(100% - 310px);
}

 .innovate-tab-menu ul li button.active-a {
    border-bottom: 4px solid #F15B29;
}

 .tab {
    display: none;
}

 .tab-active {
    display: block;
}

.innovate-youmaylike-product-parent {
    height: 200px;
    min-height: auto;
}

.summary-item-parent-custom-width {
    width: calc(60% - 10px);
}

.innovate-checkout-form-item {
    width: calc(50% - 7.5px);
}

@media screen and (max-width: 1400px) {
    .custom-info-width,
    .innovate-product-page-shop-detailes__img,
    .innovate-product-page-shop-detailes__info {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .innovate-youmaylike-product-parent {
        height: unset;
        min-height: unset;
    }

    .innovate-product-page-shop-parent {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .innovate-product-page-shop-detailes,
    .custom-width-full-240 {
        width: 100%;
    }

    .innovate-main-container {
        width: 100%;
        max-width: 100%;
    }

    .innovate-hero-main-content {
        width: 100%;
    }

    .innovate-left-product__parent {
        overflow: unset;
        height: auto;
    }

    .innovate-left-product__flex {
        height: unset;
        min-height: unset;
    }

    .custom-scrollbar-height {
        height: unset;
        min-height: unset;
    }

    .innovate-navbar__search-bar {
        width: 100%;
        max-width: 100%;
    }
}